@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,200&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    transition: 0.2s all;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../img/cadastro/1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.header{
    padding: 20px 20px;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
}

.logo img{
    border-radius: 100px;
    box-shadow: 5px 5px 10px black;
    width: 75%;
}

.logo img:hover{
    opacity: 80%;
}

.container{
    width: 100%;
    height: 80vh;
    display: flex;
    box-shadow: 5px 5px 10px black;
    border-radius: 0.4rem;
}

.form_img{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: bisque;
    border-radius: 0.4rem;
}

.form_img img{
    height: 100%;
    width: 100%;
    border-radius: 0.4rem;
}

.form{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-radius: 0.4rem;

}

#home {
    position: absolute;
    right: 3%;
    bottom: 3%;
    background: white;
    color: black;
    padding: 0.8rem 1rem;
    border-radius: 0.4rem;
    box-shadow: 5px 5px 10px black;
    transition: 0.2s;
    text-decoration: none;
}

#home:hover{
    background-color: bisque;
}

.form_header{
    margin: 2rem;
    margin-bottom: 4rem;
    display: flex;
    justify-content: space-between;
}

.login_botao{
    display: flex;
    align-items: center;
}

.login_botao button{
    border: none;
    background-color: burlywood;
    padding: 0.4rem 1rem;
    border-radius: 0.4rem;
    cursor: pointer;
}

.login_botao button:hover{
    background-color: bisque;
}

.login_botao button a{
    text-decoration: none;
    font-weight: 500;
    color: black;
}

.form_header h1:after {
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: burlywood;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

.input_group{
    margin: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
}

.input_box{
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

.input_box input{
    margin: 0.6rem;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px black;
}

.input_box input:hover{
    background-color: rgb(226, 225, 225);
}

.input_box input:focus-visible{
    outline: 1px solid bisque;
}

.gender_title h6{
    margin: 1.5rem;
    font-size: 1.3rem;
    font-weight: 600;
    color: black;
}

.input_box input::placeholder{
    color: black;
}

.gender_group{
    display: flex;
    margin-top: 0.6rem;
    padding: 0 15rem;
    justify-content: space-between;
}

.gender_input{
    display: flex;
    align-items: center;
}

.gender_input input{
    margin-right: 0.35rem;
}

.gender_input label{
    font-size: 0.9rem;
    font-weight: 600;
    color: black;
}

.continue_button {
    text-align: center;
    margin-bottom: 1rem;
}

.continue_button button{
    width: 30%;
    margin-top: 2.5rem;
    border: none;
    background-color: burlywood;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
}

.continue_button button:hover{
    background-color: bisque;
}

.continue_button button a {
    text-decoration: none;
    color: black;
    font-size: 16px;

}

@media screen and (max-width: 1730px) {
    .logo img{
        width: 65%;
        height: 65%;
    }
}

@media screen and (max-width: 1700px) {
    .logo img{
        width: 55%;
        height: 55%;
    }
}

@media screen and (max-width: 1330px) {
    .form_img{
        display: none;
    }
    .container{
        width: 50%;
    }

    .form{
        width: 100%;
    }

    .logo img{
        width: 65%;
        height: 65%;
    }
}

@media screen and (max-width: 1080px) {
    .logo img{
        width: 50%;
        height: 50%;
    }
}

@media screen and (max-width: 1064px) {
    .container{
        width: 90%;
        height: auto;
    }

    .input_group{
        flex-direction: column;
        overflow-y: scroll;
        flex-wrap: nowrap;
        max-height: 10rem;
        padding-right: 5rem;
    }

    .gender_inputs {
        margin-top: 2rem;
    }

    .gender_group{
        flex-direction: column;
    }

    .gender_input{
        margin-top: 0.5rem;
    }
}