@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

:root{
    --cor-primaria: rgb(255, 188, 106);
    --cor-logo: rgb(161, 92, 1);
    --cor-sucesso: #22ca00;
    --cor-aviso: #db0000;
    --cor-branca: #1f1f20;
    --cor-info-escura: #d1d1d1;
    --cor-info-clara: #242424;
    --cor-escura: #d1d1d1;
    --cor-clara: rgba(132, 139, 100, 0.18);
    --cor-primaria2: #0521f5;
    --cor-escura2: #dce0e4;
    --cor-fundo: #19191a;

    --card-border-radius: 2rem;
    --border-radius1: 0.4rem;
    --border-radius2: 0.8rem;
    --border-radius3: 1.2rem;

    --card-padding: 1.8rem;
    --padding1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--cor-clara);
}

.variaveis-tema-claro{

    --cor-primaria: rgb(190, 108, 0);
    --cor-logo: rgb(170, 96, 0);
    --cor-sucesso: #22ca00;
    --cor-aviso: #db0000;
    --cor-branca: #ffffff;
    --cor-info-escura: #3a3a3a;
    --cor-info-clara: #000000;
    --cor-escura: #363949;
    --cor-clara: rgba(132, 139, 100, 0.18);
    --cor-primaria2: rgb(170, 96, 0);
    --cor-escura2: #677483;
    --cor-fundo: #f6f6f9;

    --card-border-radius: 2rem;
    --border-radius1: 0.4rem;
    --border-radius2: 0.8rem;
    --border-radius3: 1.2rem;

    --card-padding: 1.8rem;
    --padding1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--cor-clara);
}

*{
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html{
    font-size: 14px;
}

body{
    width: 100vw;
    height: 100vh;
    font-family: 'poppins',sans-serif;
    font-size: 0.88rem;
    background: var(--cor-fundo);
    user-select: none;
    overflow-x: hidden;
    color: var(--cor-escura);
}

.container{
    display: grid;
    width: 96%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 14rem auto 15rem;
}

a{
    color: var(--cor-escura);
}

img{
    display: block;
    width: 100%;
}

h1{
    font-weight: 800;
    font-size: 1.8rem;
}

h2{
    font-size: 1.4rem;
}

h3{
    font-size: 0.87rem;
}

h4{
    font-size: 0.8rem;
}

h5{
    font-size: 0.77rem;
}

small{
    font-size: 0.75rem;
}

.foto-perfil{
    width: 3rem;
    border-radius: 50%;
    overflow: hidden;
}

.text-muted{
    color: var(--cor-info-escura);
}

p{
    color: var(--cor-escura2);
}

b{
    color: var(--cor-escura);
}

.primary{
    color: var(--cor-primaria);
}

.corlogo{
    color: var(--cor-logo);
}

.sucesso{
    color: var(--cor-sucesso);
}

.aviso{
    color: var(--cor-aviso);
}

aside{
    height: 100vh;
}

aside .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.4rem;
}

aside .logo{
    display: flex;
    gap: 1.8rem;
}

aside .logo img{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
}

aside .close{
    display: none;
}

/* ====================== Barra lateral ======================*/

aside h3{
    font-weight: 500;
}

aside .sidebar a{
    display: flex;
    color: var(--cor-info-escura);
    margin: 2rem;
    gap: 1rem;
    align-items: center;
    position: relative;
    height: 3.7rem;
    transition: all 0.25s ease;
}

aside .sidebar a i{
    font-size: 1.6rem;
    transition: all 0.25s ease;
}

aside .sidebar a:last-child{
    position: absolute;
    bottom: 2rem;
    width: 5%;
}

/*=========active==========*/

aside .sidebar a.active{
    background: var(--cor-clara);
    color: var(--cor-primaria);
    margin-left: 0;
}

aside .sidebar a.active::before{
    content: "";
    width: 6px;
    height: 100%;
    background: var(--cor-primaria);
}

aside .sidebar a.active i{
    color: var(--cor-primaria);
    margin-left: calc(1rem -1px);
}

/*=========end==========*/

aside .sidebar a:hover{
    color: var(--cor-primaria);
}

aside .sidebar a:hover i{
    margin-left: 1rem;
}

/*================================= Meio ==============================*/

main{
    margin-top: 1.4rem;
}

/* ========================= Pedidos Recentes ==========================*/

main .pedidos-recentes{
    margin-top: 4rem;
}

main .pedidos-recentes h2{
    margin-bottom: 0.8rem;
}

main .pedidos-recentes table{
    background: var(--cor-branca);
    width: 100%;
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    text-align: center;
    box-shadow: var(--box-shadow);
    transition: all 0.3s ease;
}

main .pedidos-recentes table:hover{
    box-shadow: none;
}

main table tbody td{
    height: 2.4rem;
    border-bottom: 1px solid var(--cor-clara);
    color: var(--cor-escura2);
}

main .pedidos-recentes a{
    text-align: center;
    display: block;
    margin: 1rem auto;
    color: var(--cor-primaria);
}

/*-- Barra lateral da direita --*/

.direita{
    margin-top: 1.4rem;
}

.direita .top {
    display: flex;
    justify-content: end;
    gap: 2rem;
}

.direita .top button {
    display: none;
}

.direita .botaotema {
    background: var(--cor-clara);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.6rem;
    width: 4.2rem;
    cursor: pointer;
    border-radius: var(--border-radius1);
}

.direita .botaotema i{
    font-size: 1.1rem;
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.direita .botaotema i.active{
    background-color: var(--cor-primaria);
    color: rgb(255, 255, 255);
    border-radius: var(--border-radius1);
}

.direita .top .profile{
    display: flex;
    gap: 2rem;
    text-align: right;
}

.direita .top .foto-perfil{
    width: 4rem;
    height: 3.1rem;
    border-radius: 100%;
}

@media screen and (max-width: 1200px){
    .container{
        width: 94%;
        grid-template-columns: 7rem auto 5rem;
    }

    aside .logo h2{
        display: none;
    }

    aside .sidebar h3{
        display: none;
    }

    aside .sidebar a{
        width: 5.6rem;
    }

    aside .sidebar a:last-child{
        position: relative;
        margin-top: 1.8rem;
    }

    main .insights{
        grid-template-columns: 1fr;
        gap: 0;
    }

    main .pedidos-recentes{
        width: 100%;
        position: absolute;
        left: 53%;
        transform: translateX(-50%);
        margin: 2rem 0 0 8.8rem;
        height: 50%;
    }

    main .pedidos-recentes table{
        width: 73vw;
        height: 50%;
    }

    .direita .top .botaotema{
        position: absolute;
        right: 20%;
    }

    main .pedidos-recentes a{
        position: absolute;
        right: 60%;
    }
}

@media screen and (max-width: 768px) {
    .container {
        width: 100%;
        grid-template-columns: 1fr;
    }

    aside {
        position: fixed;
        left: -100%;
        background: var(--cor-branca);
        width: 18rem;
        z-index: 3;
        box-shadow: 1rem 3rem 4rem var(--cor-clara);
        height: 100vh;
        padding-right: var(--card-padding);
        display: none;
        animation: showMenu 0.4s ease forwards;
    }

    @keyframes showMenu{
        to{
            left: 0;
        }
    }
    aside .logo {
        margin-left: 1rem;
    }

    aside .logo h2 {
        display: inline;
    }

    aside .sidebar h3 {
        display: inline;
    }

    aside .sidebar a {
        width: 100%;
        height: 3.4rem;
    }

    aside .sidebar a:last-child {
        position: absolute;
        bottom: 5rem;
    }

    aside .close {
        display: inline-block;
        cursor: pointer;
    }

    main {
        margin-top: 8rem;
        padding: 0 1rem;
    }

    main .insights > div{
        width: 100%;
    }

    main .pedidos-recentes {
        position: relative;
        margin: 3rem -0.6rem;
        width: 100%;
    }

    main .pedidos-recentes a{
     left: 0%;
     position: relative;
    }

    main .pedidos-recentes table {
        width: 100%;
    }
    
    .direita {
        width: 94%;
        margin: 0 auto 4rem;
    }

    .direita .top {
        position: fixed;
        top: 0;
        left: 0;
        align-items: center;
        padding: 0 0.8rem;
        height: 4.6rem;
        background: var(--cor-branca);
        width: 100%;
        z-index: 2;
        box-shadow: 0 1rem 1rem var(--cor-clara);
    }

    .direita .top .botaotema {
        width: 4.4rem;
        position: absolute;
        left: 50%;
    }

    .direita .top button{
        display: inline-block;
        background: transparent;
        cursor: pointer;
        color: var(--cor-escura);
        position: absolute;
        left: 1rem;
        font-size: 2rem;
    }

    .direita .top button i{
        font-size: 2rem;
    }
}